@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean');

html {
  margin: 0;
  padding: 0;
  background-color: #151515;
}

body {
  width: 460px;
  margin: auto;
  padding: 0;
  background-color: #151515;
}

#Title {
  width: 360px;
  height: 80px;
  margin: 0;
  padding: 50px;
  padding-bottom: 5px;

  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  color: #151515;
  background-color: #f0f0f0;
  font-family: "Nanum Gothic", sans-serif;

  display: block;
}

#Text {
  position: relative;
  top: 720px;
  left: 0px;
  width: 460px;
  height: 815px;
  background-color: tomato;
  display: block;
}

canvas {
  margin: 0;
  padding: 50px;
  padding-top: 20px;
  background-color: #f0f0f0;
  display: block;
}